.CFUserTextEncoding
.DS_Store
.Trash
.android
.atom
.bash_history
.cache
.config
.dbshell
.gem
.gnupg
.heroku
.meteor
.meteorsession
.mkshrc
.mongorc.js
.netrc
.node-gyp
.npm
.npmrc
.nvm
.rvm
.ssh
.subversion
.vagrant.d
.viminfo
.vimshell
.zlogin
.zshrc
Applications
Desktop
Documents
Downloads
Library
Movies
Music
Pictures
Public
bin
dev
qtsasock
